asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
crispy-bootstrap5==2023.10
dj-database-url==2.1.0
Django==5.0.1
django-classy-tags==4.1.0
django-cms==4.1.0
django-crispy-forms==2.1
django-formtools==2.5.1
django-sekizai==4.1.0
django-treebeard==4.7.1
djangocms-admin-style==3.3.0
djangocms-animate-on-scroll==1.0.1
djangocms-installer==2.0.0
idna==3.6
packaging==23.2
pillow==10.2.0
pytube==15.0.0
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.9.0
tzlocal==5.2
urllib3==2.2.0
youtube-transcript-api==0.6.2
