{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_meta %}
<link rel="stylesheet" href="{% static 'css/logo.css' %}">
{% endblock %}

{% block content %}
<div class="row align-items-stretch rounded-3 border shadow-lg bg-central my-4"> <!-- Use align-items-stretch to make columns same height -->
    <div class="col-lg-6 py-3 px-lg-4"> <!-- Reduced padding with py-3 and px-lg-4 -->
        <h1 class="display-5 fw-bold lh-1">{% trans 'UltraShorts' %}</h1> <!-- Smaller display size with display-5 -->
        <p class="lead">{% trans 'Making Things Easier' %}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3"> <!-- Reduced bottom margin with mb-3 -->
            <!-- home.html -->
            <form action="{% url 'page_process_form' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-dark btn-lg px-4 me-md-2 fw-bold">{% trans 'Upload Video to List' %}</button>
            </form>
        </div>
    </div>
    <div class="col-lg-6 d-flex align-items-stretch p-0"> <!-- Remove padding and make the div stretch full height -->
        <img src="{% static 'UltraShorts.svg' %}" alt="UltraShorts Logo" class="d-block ms-auto rounded-3 shadow" style="width: auto; height: 100%;"> <!-- Image fills right side and matches the height -->
    </div>     
</div>
{% endblock %}

{% block body_end_meta %}
<!-- Scripts remain unchanged -->
{% endblock %}
