{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Chunks Container in a New Card Design -->
        <div class="col-md-3 mb-3">
            <div class="card video-card custom-card">
                <div class="card-header custom-card-header">
                    {% trans "Chunks" %}
                </div>
                <ul class="list-group list-group-flush">
                    {% for chunk in chunks %}
                    <li class="list-group-item custom-list-group-item">
                        <button class="btn custom-btn w-100 text-left" data-chunk-text="{{ chunk.text|escapejs }}" onclick="copyToClipboard(this.getAttribute('data-chunk-text'))">
                            {% trans "Copy Chunk " %}{{ forloop.counter }}
                        </button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <!-- Video Info and Actions -->
        <div class="col-md-9">
            <div class="video-info mb-4">
                <h2 class="text-body-secondary">{% trans "Video Title: " %}{{ video.title }}</h2>
                {% if not video.chunks.exists %}
                    <form action="{% url 'chunk_video' video.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">{% trans "Chunk Transcript" %}</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Temporary message container for copy confirmation -->
<div id="copyConfirmation" class="copy-confirmation">
    {% trans "Text Copied!" %}
</div>

{% endblock %}
