{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page_title %}
<div class="container mt-4 p-4 text-body-secondary bg-dark-blue rounded-3">
    <h2>{% trans "Video Catalogue" %}</h2>
</div>
{% endblock %}

{% block content %}
{% if topic_videos %}
    {% for topic_name, videos in topic_videos %}
    <div class="container mt-4">
        <h3 class="text-custom-beige mb-3 fs-4 text-body-secondary">{{ topic_name }}</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for video in videos %}
            <div class="col">
                <div class="col">
                    <div class="card h-100 shadow-lg video-card bg-dark-blue rounded-3">
                        <img src="{{ video.thumbnail.url }}" loading="lazy" class="card-img-top rounded" alt="Video thumbnail" style="height: 180px; object-fit: cover;"> <!-- Adjusted height -->
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h5 class="card-title text-body-secondary">{{ video.title }}</h5>
                            <div>
                                <a href="{% url 'video_detail' video.id %}" class="btn btn-custom-beige bi-body-text btn-sm mb-2 w-100">&nbsp;Video Details</a> <!-- Custom beige button -->
                                <a href="{% url 'manage_clips' video.id %}" class="btn btn-custom-beige bi-collection btn-sm mb-2 w-100">&nbsp;Manage Clips</a> 
                                <a href="{{ video.url }}" target="_blank" class="btn btn-custom-list bi-box-arrow-up-right btn-sm mb-2 w-100">&nbsp;Original Video</a> <!-- Custom blue button -->
                                <a href="{% url 'confirm_delete_video' video.id %}" class="btn btn-custom-delete bi-trash3-fill btn-sm w-100">&nbsp;Delete Video</a> <!-- Keep delete button distinct -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% else %}
<div class="text-center mt-4 text-light bg-dark-blue">{% trans 'No Videos' %}</div>
{% endif %}

<div class="text-left mt-4 btn-group-lg">
    <a href="{% url 'page_process_form' %}" class="btn btn-custom-blue"><i class="bi bi-plus-square"></i>&nbsp;{% trans 'Upload New Video' %}</a>
</div>

{% endblock %}









