{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="video-info mb-4">
                <h3 class="text-body-secondary">{% trans "Video Title: " %}{{ video.title }}</h3>
            </div>
            {% if not video.chunks.exists %}
                <form action="{% url 'chunk_video' video.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mb-3">{% trans "Chunk Transcript" %}</button>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="chunks-container">
                {% for chunk in chunks %}
                <button class="btn btn-outline-dark btn-block text-left chunk mb-3 p-3 border rounded" data-chunk-text="{{ chunk.text|escapejs }}" onclick="copyToClipboard(this.getAttribute('data-chunk-text'))">
                    <p class="text-body-secondary m-0">{% trans "Copy Chunk " %}{{ forloop.counter }}</p>
                </button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Redesigned message container for copy confirmation -->
<div id="copyConfirmation" class="alert alert-success" role="alert" style="display: none; position: fixed; top: 225px; left: 31%; transform: translateX(-50%); z-index: 1050;">
    {% trans "Text Copied!" %}
</div>

{% endblock %}
