/* custom.css */
/* Change the background color of the entire page */

/* Or, if you want to change the background color of the content area specifically */

.bg-background {
    background-color: #122838;
}

.btn-dark {
    background-color: #1E263D;
    border-color: #0B0C10; /* A slightly darker shade for borders */
}

.card-title {
    color: #0B0C10;
}

.nav-link, .ultra-shorts-color, .text-body-secondary, .bg-central{
    color: #DAD5CF !important;
}


.video-card:hover {
    transform: scale(1.03);
    transition: transform .5s; /* Smooth scaling effect */
}

/* STYLINGS UNDERNEATH ARE FROM CHATGPT FOR video_detail.html */

/* Custom fade class for the copy confirmation */
#copyConfirmation {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    transition: opacity 0.5s ease-in-out; /* This should match the timing in your JavaScript */
  }

  .dark-theme .dark-container {
    background-color: #272123; /* Dark background */
    color: #DAD5CF; /* Light text */
}

.dark-theme .dark-list-group .dark-list-item {
    background-color: #383432; /* Darker background for list items */
    color: #DAD5CF; /* Lighter text */
    border: 1px solid #444; /* Subtle borders for list items */
}

.dark-theme .dark-list-group .dark-list-item:hover {
    background-color: #444; /* Slightly lighter background on hover */
}

.dark-theme .text-light {
    color: #DAD5CF !important; /* Ensure text is light */
}

.dark-theme .text-secondary {
    color: #DAD5CF !important; /* Light grey text for less important items */
}

  